*{
    box-sizing: border-box;
}
@font-face {
    font-family: fuente1;
    src: url("Fuentes/Louis\ George\ Cafe\ Light\ Italic.ttf");
}
html{
    background-color: beige;
    font-family: fuente1;
    font-size: 20px;
}
p{
    text-align: justify;
}
/* estilos para float */
h2{
    text-shadow: 5px 5px 5px rebeccapurple;
}
img{
    width: 100%;
}
.derecha{
    float: right;
    max-width: 370px;
    padding: 1.875rem;
}
.izquierda{
    float: left;
    max-width: 370px;
    padding: 1.875rem;
}
br.clear{
    clear: both;
}