.contenedor{
    background-color: rgb(142, 198, 198);
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.caja1{
    background-color: aqua;
    width: 20rem;
    height: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    top: 0rem;
    left: 0rem;
}

.caja2{
    background-color: rgb(63, 209, 58);
    width: 10rem;
    height: 4.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 28%;
    left: 10%;
}

.caja3{
    background-color: rgb(160, 239, 160);
    width: 10rem;
    height: 4.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    top:28% ;
    right: 8%;
}

/*estilos para el ejemplo de las universidades*/

.fondo{
    max-width: 1000px;
    width: 90%;
    margin: 1rem auto;
}

.contenido{
    background: url("imagenes/fondo.png") no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 56%;
    position: relative;
}

.section{
    border: 1px solid rgb(45, 9, 144);
    position: absolute;
}

.section:hover{
    background-color: #75797a80;
}

.section.area1{
    width: 29%;
    height: 12%;
    top: 10%;
    left: 7%;
}

.section.area2{ 
    width: 25%;
    height: 16%;
    top: 12%;
    left: 72%;   
           
}

.section.area3{ 
    width: 22%;
    height: 13%;
    top: 21%;
    left: 40%;    
            
}

.section.area4{ 
    width: 22%;
    height: 13%;
    top: 41%;
    left: 13%;            
}

.section.area5{ 
    width: 31%;
    height: 16%;
    top: 48%;
    left: 57%;            
}

.section.area6{ 
    width: 40%;
    height: 20%;
    top: 70%;
    left: 5%;            
}

.section.area7{ 
    width: 30%;
    height: 14%;
    top: 77%;
    left: 64%;            
}

.section.area8{
    top: 44%;
    left: 39%;
    width: 14%;
    height: 20%;
}
.section.area8:hover{
    background-color: transparent;
}

/* estilos para float */
img{
    width: 100%;
}
.derecha{
    float: right;
    max-width: 370px;
}
.izquierda{
    float: left;
    max-width: 370px;
}
br.clear{
    clear: both;
}

